/* popup */
.popup {
  position: fixed;
  width: 50%;    
  right: 0; 
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  padding: 10px;
  z-index: 1000;
  overflow: auto;
}

.popup1 {
  top: 8px;         
  height: 47.5%;     
}

.popup2 {
  bottom: 0;        
  height: 47%;    
}

.popup.active{
    display: block;
}
.popup2.active {
    display: block;
}

/* close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #110b0b;
}

/*chart */
#chart {
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 0;
    width: 50vw;
    height: 100vh;
}

#dataChoice {
  position: relative;
  z-index: 2000;
}

/*tooltip*/
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
    z-index: 1000;
}