.control-panel {
  margin: 10px;
}

.tooltip {
  position: absolute;
  background: lightgray;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background: white;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  overflow: auto;
  z-index: 1000;
}

.popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
}

.heatmap-container {
  margin-top: 10px;
  padding: 10px;
}